# image: "registry.gitlab.cc-asp.fraunhofer.de:4567/simphony/sqlalchemy-wrapper"

variables:
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "123-postgres"
  POSTGRES_DB: "postgres"
  POSTGRES_HOST: "db"

stages:
  - build

services:
  - name: postgres:11.7
    alias: db
    entrypoint: ["docker-entrypoint.sh"]
    command: ["postgres"]

build_job:
  stage: build
  script:
    - verlte() { [  "$1" = "`echo -e "$1\n$2" | sort -V | head -n1`" ]; }
    - verlt() { [ "$1" = "$2" ] && return 1 || verlte $1 $2; }
    - OSP_CORE_MIN=$(python -c "import packageinfo; print(packageinfo.OSP_CORE_MIN)")
    - OSP_CORE_MAX=$(python -c "import packageinfo; print(packageinfo.OSP_CORE_MAX)")
    - git clone https://github.com/simphony/osp-core.git
    - cd osp-core
    - git checkout $CI_COMMIT_REF_NAME || git checkout master
    - OSP_CORE_VERSION=$(python -c "import packageinfo; print(packageinfo.VERSION)")
    - if ! (verlte $OSP_CORE_MIN $OSP_CORE_VERSION && verlt $OSP_CORE_VERSION $OSP_CORE_MAX) ; then git checkout "tags/v${OSP_CORE_MIN}-beta" || git checkout "v${OSP_CORE_MIN}-dev"; fi
    - python3 setup.py install
    - pico install city
    - cd ..
    - flake8 . --exclude=*/__init__.py,.eggs/,build/,.tox/,osp-core/ --ignore=W503
    - python3 setup.py install
    - coverage run setup.py test
    - coverage report --omit=tests/*,*/.eggs/* --skip-covered
